//Mixin para otimizaçao do codigo e evitar reescritas
@mixin texto-menu($color, $font-size){
  color: $color;
  font-size: $font-size;
}

@mixin hover-menu($transition,$shadow-color) {
  transition-duration: $transition;
  &:hover{
    text-shadow: 0px 1.7px 0px $shadow-color;
  }
}

@mixin hover-itens($transition,$shadow-colr){
  transition-duration: $transition;
  &:hover{
    box-shadow: 0px 2px 0px 0px $shadow-color;
  }
}
// fim mixim

header{
  background: $color-primaria;
  width: 100%;
  
  .menu-1{
    background: $color-primaria;
    width: 1200px;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    .logo{
      img{
        width: 100px;
        margin-left: 30px;

        @include hover-itens($transition, $shadow-color);
      }
    }//fim logo

    .busca{
      border-radius: $radius-padrao;
      
      input{
        border-radius: $radius-padrao;
        border:lightgray;
        padding: 7px 29px 7px 20px;
        outline: none;
        width: 450px;
        margin-left: 80px;
  

        @include hover-itens($transition, $shadow-color);
      }
  
      img{
        width: 15px;
        display: inline-block;
        margin: 25px 0px -2px -20px;
      }
    }//fim busca

    .login{
      display: flex;
      align-items: center;
      
      span{
        a{
          display: flex;
          margin-bottom: 2px;
          justify-content: center;
          
          @include texto-menu($color-white, $font-padrao);

          @include hover-menu($transition, $shadow-color);
        }
      }

      .header-icon{
        margin-right: 15px;

        img{
          border-radius: 100%;
          @include hover-itens($transition, $shadow-color);
        }
        
      }
    }//fim login

    .sacola{
      .header-icon{
        border-radius: 7px;

        img{
          @include hover-itens($transition, $shadow-color);
        }
      }
    }//fim sacola

  }//fim menu 1

  .cor-menu2{
    background: $color-secundaria;
    width: 100%;
    border-bottom: solid 1px $shadow-color-2;

    .menu-2{
      background: $color-secundaria;
      width: 1200px;
      padding: 12px;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
        
      .categorias{
        ul{
          li{
            a{
              padding: 16px;
              margin: 0 7px;
              font-weight: $font-secundaria-weigth;
  
              @include texto-menu($color-white, $font-padrao);
  
              @include hover-itens($transition, $shadow-color);
              
              @include hover-menu($transition, $shadow-color-2);
            }//fim a            
          }
            
        }
      }
    }//fim menu2
  }//fim cor menu2


}//fim do header
